<footer class="bg-success text-light mt-3 pt-4 pb-2">
  <!-- Info -->
  <div class="container">
    <h5><strong>CÔNG TY TNHH ĐẦU TƯ ĐỒI LÁ XANH</strong></h5>
    <section class="row mt-3">
      <address class="col-sm-6 text-left">
        <div><strong class="mr-2">Địa chỉ:</strong>20/14 Đồng Xoài, Phường 13, Tân Bình, TP. Hồ Chí Minh</div>
        <div><strong class="mr-2">Đại diện:</strong>Lê Văn Danh</div>
        <div><strong class="mr-2">Điện thoại:</strong><a href="tel:+{{ index .Site.Params.phonehome 0 }}" class="text-decoration-none text-light">{{ index .Site.Params.phonehome 1 }}</a></div>
        <div><strong class="mr-2">Ngày hoạt động:</strong>20/03/2019</div>
        <div><strong class="mr-2">Ngày cấp phép:</strong>21/03/2019</div>
      </address>
      <div class="col-sm-6 text-right">
        <div class="mb-2">
          <a href="" class="display-4 text-light mr-2"><i class="fab fa-facebook"></i></a>
          <a href="" class="display-4 text-light mr-2"><i class="fab fa-google"></i></a>
          <a href="" class="display-4 text-light mr-2"><i class="fab fa-twitter"></i></a>
          <a href="" class="display-4 text-light"><i class="fab fa-youtube"></i></a>
        </div>
        <div>Bản quyền &copy; <script>document.write(new Date().getFullYear())</script> thuộc <strong>cayxanhdoilaxanh.com</strong></div>
      </div>
    </section>
  </div>
</footer>