<section class="col-4 col-lg-3">
  {{ if isset .Params `id` }}
  <img src="{{ .Site.BaseURL }}{{ .Get `src` }}" class="img-fluid rounded" alt="{{ lower .Page.Title }}" data-toggle="modal" data-target="#imageModal-{{ .Get `id` }}">
  <div class="modal fade" id="imageModal-{{ .Get `id` }}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-body">
        <img class="img-fluid rounded" src="{{ .Site.BaseURL }}{{ replace (.Get `src`) `.jpg` `-lg.jpg` }}" alt="{{ lower .Page.Title }}">
      </div>
    </div>
  </div>
  {{ else }}
  <img src="{{ .Site.BaseURL }}{{ .Get `src` }}" class="img-fluid rounded" alt="{{ lower .Page.Title }}">
  {{ end }}
  <p class="mt-1">{{ .Get `title` }}</p>
</section>